* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", serif;;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #252626;
  --text-color: #fff;
  --big-font: 4rem;
  --p-font: 1rem;
  --color: #021bfa;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}
/* navbar */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 15%;
  background: #1f2c47;
  transition: all ease .45s;
}

.menu-button{
  display: none;
  opacity: 0;
}
.logo {
  color: var(--text-color);
  font-size: 41px;
  font-weight: 600;
}

.logo span {
  color: #027cff;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: var(--p-font);
  font-weight:500 ;
  color: var(--text-color);
  margin: 0 25px;
  transition: all ease .50s;
}

.navbar a:hover {
  color: #047bfa;
}

.navbar a.active {
  color: #027cff;
}


.menu-button {
  background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
  box-shadow: 0px 1px 20px #0404ff;
  border: 1px solid #3b3b3b;
  padding: 10px 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#menu-icon {
  font-size: 28px;
  margin-left: 10px;
  z-index: 6;
}

/* section */
section {
  padding: 0 15%;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.home-img {
  width: 600px;
  height: 600px;
}

.home-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-text span {
  padding: 5px 25px;
  background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
  box-shadow: 0px 1px 20px #0404ff;
  border: 1px solid #3b3b3b;
  border-radius: 100px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.home-text h1 {
  font-size: var(--big-font);
  margin: 23px 0;
}

.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  color: #c4c4c4;
  line-height: 30px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background: #ff0000;
  color: var(--text-color);
  border-radius: 8px;
  border: 2px solid #0404ff;
  font-size: 16px;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-5px);
  background: transparent;
  color: #0404ff;
}

.my-sosmed {
  position: absolute;
  bottom: 3rem;
  left: 15%;
  display: flex;
  align-items: center;
}

.icon i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  box-shadow: 0px 10px 40px #6f6f74;
  border: 1px solid #3b3b3b;
  border-radius: 50%;
  color: var(--text-color);
  font-size: 20px;
  margin: 0 7px;
  transition: all 0.1s ease-in-out;
}

.icon i:hover {
  transform: translateY(-10px);
}

.fb i:hover {
  background-color: #0051ff;
}
.logo-tiktok i:hover {
  background-color: #0d162a;
}
.wa i:hover {
  background-color: #00ff00;
}
.ig i:hover {
  background: linear-gradient(#b90cae, #e91414, #f0af0c);
}

/* About Section */
.about {
  padding: 10rem 7% 1rem;
  /* background: black; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 4rem;
}

.about h2 span {
  color: var(--color);
}

.about .aboutme {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.aboutme .detail {
  padding: 3rem;
  text-align: left;
  justify-content: space-between;
}

.about .aboutme .detail img {
  border: 5px solid #00ffff;
  border-radius: 30px;
  width: 80%;
}

.about .aboutme .detail .explanation {
  margin-top: 1rem;
}

/* skill section */
.container-skill {
width: 50%; 
background-color: #ddd; 
margin: 20px;
}

.skill {
  padding: 10rem;
}

.skill h2 {
  text-align: center;
  font-size: 2rem;
}

.skill span {
  color: #0051ff;
}
.skills {
text-align: right; 
padding-top: 10px; 
padding-bottom: 10px; 
color: white; 
}
.saya {
  margin-bottom: 40px;
}

.html {width: 90%; background-color: #04AA6D;} 
.css {width: 80%; background-color: #2196F3;} 
.js {width: 10%; background-color: #f44336;}  

/* contact section */
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: var(--color);
}

.contact .content p {
  font-weight: 300;
  color: #ffffff;
}

.container-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-contact .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container-contact .contact-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container-contact .contact-info .box .icon-contact {
  min-width: 60px;
  height: 60px;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container-contact .contact-info .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container-contact .contact-info .box .icon-contact .text h3 {
  font-weight: 500;
  color: #ffffff;
}
.contact-form {
  width: 30%;
  padding: 40px;
  background: #ffffff;
}

.contact-form h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}

.contact-form .input-box .text-message {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ .text-message,
.contact-form .input-box input:valid ~ .text-message,
.contact-form .input-box textarea:focus ~ .text-message,
.contact-form .input-box textarea:valid ~ .text-message {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.text-message {
  color: #000000;
}

.Saya {
  color: #ffffff;
}

/* copy rigth */
.footer {
  background-color: #333;
  padding: 10px;
  width: 100%;
}

.footer .copy {
  text-align: center;
  font-size: 17px;
}

.footer .bx-copyright {
  padding: 5px;
}


@media (max-width: 1850px) {
  header {
      padding: 15px 8%;
      transition: .2s;
  }

  section {
      padding: 0 8%;
      transition: .2s;
  }

  .my-sosmed {
      left: 8%;
      transition: .2s;
  }
}

@media (max-width: 1370px) {
  header {
      padding: 15px 4%;
      transition: .2s;
  }

  section {
      padding: 0 4%;
      transition: .2s;
  }

  .my-sosmed {
      left: 4%;
      transition: .2s;
  }

  :root {
      --big-font: 2.2rem;
      --p-font: 0.8rem;
      transition: .2s;
  }
  
}

@media (max-width: 1020px) {
  .navbar a {
      margin: 0 15px;
  }
  :root {
      --big-font: 2rem;
      --p-font: 0.8rem;
      transition: .2s;
  }
  .contact {
      padding: 50px;
    }
  
    .container-contact {
      flex-direction: column;
    }
  
    .container-contact .contact-info {
      margin-bottom: 48px;
    }
  
    .container-contact .contact-info,
    .contact-form {
      width: 100%;
    }
}

@media (max-width: 950px) {
  .my-sosmed {
      display: none;
  }
  section {
      padding: 70px 4%;
  }
  header {
      padding: 11px 4%;
      background: rgb(83, 83, 83);
  }
  .home {
      height: auto;
      display: flex;
      flex-wrap: wrap;
  }
  .home-text {
      order: 2;
  }

  .home-img {
      margin: auto;
      height: auto;
      width: auto;
  }

  .home-img img {
      max-width: 450px;
      width: 100%;
      height: auto;
  }
}

@media (max-width: 850px) {
  .navbar {
      position: absolute;
      width: 100%;
      height: 100vh;
      padding: 40px 50px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 100%;
      display: flex;
      flex-direction: column;
      background: #0d162a;
      transition: 0.5s;
  }
  .navbar a {
      display: block;
      color: #b8b8b8;
      padding: 0px;
      margin: 0px 0px 40px 0px;
      font-size: 2rem;
      font-weight: 400;
  }
  .navbar.open {
      left: 50%;
      padding: 15%;
      margin: 72px;
      justify-content: space-between;
      text-align: start;
  }

  .menu-button {
      opacity: 1;
  }
}

@media (max-width: 500px) {
  :root {
      --big-font: 2rem;
      --p-font: 15px;
      transition: .2s;
  }
  .btn {
      padding: 9px 28px;
  }

}